
<h2>Welcome! Home Index - Only Login.</h2>
<p>Name: <%= user.displayName;%></p>
<p>E-mail: <%= user.mail;%></p>
<p>E-mail2: <%= user.mail2;%></p>

<hr/>

<p>Name: <%= user.googleId;%></p>
<p>Name: <%= user.googleName;%></p>
<p>Name: <%= user.googleEmail;%></p>